.palettes{
	margin-top: 30px;
	margin-bottom: 30px;
}
.editor{
	padding-right: 60px;
}
.grid{
	margin-bottom: 20px;
}
#tools h1+div{
	margin-bottom: 50px;
}
#opacity{
	width: 50%;
}
#tools .moveButtons{
	margin-bottom: 0px;
}